DJANGO_SETTINGS_MODULE=django-react.settings.local
CELERY_BROKER_URL=amqp://broker:5672//
REDIS_URL=redis://result:6379
# Please choose postgres or sqlite as your DB:
# DATABASE_URL=postgres://django-react:password@db:5432/django-react
# DATABASE_URL=sqlite:///db.sqlite3
